@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'InputMono';
  src: url('00_Font/InputMono-Regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('00_Font/InputMono-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
body {
  font-family: InputMono;
  background-image: url("01_Foto/Mappa.jpg");
  background-size: 120%
}

p{
  font-size:200%;
}


.column {
  float: left;
  width: 100%;
  padding: 20px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}